body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  display: flex;
  margin: 3%;
  width: 94%;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: "FONT_SMARTX";
  src: url("/FONT_SMARTX.woff");
  font-weight: normal;
  font-style: normal;
}

.SMTX {
  font-family: "FONT_SMARTX", sans-serif;
  font-size: 80px;
  color: #ffb41f;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 60px;
  color: #ffb41f;
}

label {
  font-family: Arial, sans-serif;
  font-size: 45px;
  color: #ffffff;
  padding-bottom: 15px;
}

button {
  font-size: 45px;
  color: #000000;
  font-family: Arial, sans-serif;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 2px solid #000000;
  border-radius: 25px;
  background-color: #ffb41f;
  cursor: pointer;
}

.button_links {
  font-size: 45px;
  color: #000000;
  font-family: Arial, sans-serif;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 2px solid #000000;
  border-radius: 25px;
  background-color: #ffb41f;
  cursor: pointer;
  word-wrap: break-word;
  width: 300px;
}

.bt_style {
  font-size: 45px;
  color: #000000;
  font-family: Arial, sans-serif;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #ffb41f;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placeholder_style {
  font-size: 30px;
  color: #ffffff;
  background-color: #555555;
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  width: 120px;
}

.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 5px;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/*checkbox unchecked*/
.checkmark {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  border: 2px solid #ffffff;
  background-color: #000000;
}

/*cor de fundo checked*/
.checkbox input:checked~.checkmark {
  background-color: #ffb41f;
}

/*checkmark checked*/
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 17px;
  top: 8px;
  width: 10px;
  height: 20px;
  border: solid #000000;
  border-width: 0 5px 5px 0;
  transform: rotate(45deg);
}

.checkbox input:checked~.checkmark:after {
  display: block;
}

table {
  display: block;
  padding: 0px;
  border-collapse: collapse;
}

th,
td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  max-width: 50vw;
  word-wrap: break-word;
}

th {
  position: sticky;
  top: 0;
  background-color: #000000;
}

tbody tr:nth-child(even) {
  background-color: #000000;
}

tbody tr:nth-child(odd) {
  background-color: #333333;
}

.table_2 {
  border-collapse: collapse;
}

.table_2 th,
.table_2 td {
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
}

.table_2 th {
  background-color: #ffb41f;
  color: #000000;
  position: static;
  font-family: Arial, sans-serif;
  font-size: 60px;
}

.table_2 tr:nth-child(odd) {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 45px;
}

.table_2 tr:nth-child(even) {
  background-color: #cccccc;
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 45px;
}

.table_tags {
  border-collapse: collapse;
}

.table_tags th,
.table_tags td {
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  text-transform: uppercase;
}

.table_tags th {
  background-color: #ffb41f;
  color: #000000;
  position: static;
  font-family: Arial, sans-serif;
  font-size: 40px;
}

.table_tags tr:nth-child(odd) {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.table_tags tr:nth-child(even) {
  background-color: #cccccc;
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 30px;
}



select {
  padding: 10px;
  font-size: 40px;
  background-color: #555555;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  width: 100%;
}

select:focus {
  outline: none;
  border-color: #000000;
  background-color: #ffb41f;
}

.container0 {
  float: top;
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container1 {
  float: top;
  clear: both;
  padding-bottom: 20px;
}

.container2 {
  float: left;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 30px;
}

.container_display {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background-color: #555555;
  border: 2px solid #ffffff;
}